SELECT bdr.bdr_group_join(
   local_node_name := '{{ local_node }}',
   node_external_dsn := 'host={{ local_node }} port={{ db_port }} dbname=wari_db user=wari_rep password={{ wari_rep_pass }}',
   join_using_dsn := 'host={{ remote_node }} port=5432 dbname=wari_db user=wari_rep password={{ wari_rep_pass }}'
);
